<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Place README</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body style="background: white;">
<img id="output_image" style="border: dotted black; width: 300px; height: 300px;" alt="image"
     src="/static/image.png"/>
<form id="input-form">
    <label>
        X
        <input type="number" id="x-input" value="0"/>
    </label>
    <label>
        Y
        <input type="number" id="y-input" value="0"/>
    </label>
    <label>
        Red
        <input type="number" id="red-input" value="0"/>
    </label>
    <label>
        Green
        <input type="number" id="green-input" value="0"/>
    </label>
    <label>
        Blue
        <input type="number" id="blue-input" value="0"/>
    </label>
    <button type="submit" onsubmit="submitPixel(e)">Set Pixel</button>
</form>
<script>
    $("#input-form").submit(function (event) {
        event.preventDefault();

        submitPixel();
    });

    function submitPixel() {
        let xVal = parseInt($("#x-input").val())
        let yVal = parseInt($("#y-input").val())
        let redVal = parseInt($("#red-input").val())
        let greenVal = parseInt($("#green-input").val())
        let blueVal = parseInt($("#blue-input").val())

        let postData = {
            "x": xVal,
            "y": yVal,
            "red": redVal,
            "green": greenVal,
            "blue": blueVal
        };

        let settings = {
            "url": "/set_pixel",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify(postData),
        };

        console.log(postData)

        $.ajax(settings).done(function (response) {
            if (response?.status === "error") {
                alert(response?.message || "Error creating pixel.");
            }

            $("#output_image").attr("src", "/static/image.png?" + (new Date()).getTime());
        }).catch(function (err) {
            alert(JSON.parse(err?.responseText || {}).message || "Error creating pixel.");
            console.error(err?.responseText);
        });
    }
</script>
</body>
</html>